In [2]:
import pandas as pd
import numpy as ny

In [3]:
df=pd.read_csv('/Users/lilexin/Desktop/ECON628-lessdaa/project2/adoNY_c_f.csv')

In [4]:
df.head(5)

,RECNUM,SEX,AGYSPNDS,AgeAtAdopt,ChildRace,BioMomAgeAtBirth,MOMARRD,AdoptMomAge,AdoptDadAge,ADPFAMST,MomRace,DadRace,Transracial
0,10115515140,2,2,0,1,20.0,1.0,33.0,33.0,1.0,1,1,0
1,10185923110,1,2,1,2,29.0,2.0,45.0,54.0,1.0,1,1,1
2,10199738080,2,2,0,1,24.0,2.0,36.0,45.0,1.0,1,1,0
3,10206906020,2,2,0,99,28.0,2.0,41.0,44.0,1.0,1,1,9
4,10286352150,1,2,1,99,36.0,2.0,32.0,32.0,1.0,1,1,9

1. RECNUM: record number
2. SEX: child sex 1-male 2-female
3. AGYSPNDS: child special needs, 0-not applicable, 1-yes, 2-no, 3-unable to determin
4. AgeAtAdopt: child’s age on date of adoption
5. ChildRace: race of child as one variable, 1-White, 2-Black, 3-AmInd, 4-Asian, 5-HawaiiPI, 6-More than One Race, 7-Hispanic Origin
6. BioMomAgeAtBirth: biological mother’s age on date of child’s birth
7. MOMARRD: biological mother married, 0-not applicable, 1-yes, 2-no, 3-unable to determine
8. AdoptMomAge: adoptive mother’s age on date of adoption
9. AdoptDadAge: adoptive father’s age on date of adoption
10. ADPFAMST: adoptive family structure, 0-not applicable, 1-married couple, 2-unmarried couple, 3-single female, 4-single male, 5-unable to determine
11. MomRace: race of adoptive mother as one variable, 1-White, 2-Black, 3-AmInd, 4-Asian, 5-HawaiiPI, 6-More than One Race, 7-Hispanic Origin
12. DadRace: race of adoptive father as one variable, 1-White, 2-Black, 3-AmInd, 4-Asian, 5-HawaiiPI, 6-More than One Race, 7-Hispanic Origin
13. Transracial: transracial adoption, 0-not transracial, 1-child not White + parent White, 2-child White + parent not White, 3-other transracial, 9-insufficient race info

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1933 entries, 0 to 1932
Data columns (total 13 columns):
RECNUM              1933 non-null int64
SEX                 1933 non-null int64
AGYSPNDS            1933 non-null int64
AgeAtAdopt          1933 non-null int64
ChildRace           1933 non-null int64
BioMomAgeAtBirth    1903 non-null float64
MOMARRD             1890 non-null float64
AdoptMomAge         1890 non-null float64
AdoptDadAge         946 non-null float64
ADPFAMST            1890 non-null float64
MomRace             1933 non-null int64
DadRace             1933 non-null int64
Transracial         1933 non-null int64
dtypes: float64(5), int64(8)
memory usage: 196.4 KB

In [10]:
df["BioMomAgeAtBirth"].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
1903    False
1904    False
1905    False
1906    False
1907    False
1908    False
1909    False
1910    False
1911    False
1912    False
1913    False
1914     True
1915    False
1916    False
1917    False
1918    False
1919    False
1920    False
1921    False
1922    False
1923    False
1924    False
1925    False
1926    False
1927    False
1928    False
1929    False
1930    False
1931    False
1932    False
Name: BioMomAgeAtBirth, dtype: bool

In [11]:
Mom_Age_mean=df['BioMomAgeAtBirth'].mean()

In [24]:
df_Lost=df[df['BioMomAgeAtBirth'].isnull().values == True]

In [25]:
for index, row in df_Lost.iterrows():
        i = df.loc[df['BioMomAgeAtBirth'].isnull().values==True]
        if i.size == 1:
                df.set_value(Mom_Age_mean, i.irow(0))

In [36]:
df['BioMomAgeAtBirth'].fillna(value=Mom_Age_mean)

0                                    20
1                                    29
2                                    24
3                                    28
4                                    36
5                                    23
6                                    23
7                                    24
8                                    22
9                                    28
10                                   24
11                                   15
12                                   32
13                                   23
14                                   24
15                                   23
16                                   23
17                                   26
18                                   31
19                                   22
20                                   29
21                                   26
22                                   42
23                                   26
24                                   30
25                                   20
26                                   36
27                                   20
28                                   23
29                                   26
                     ...
1903                                 20
1904                                 28
1905                                 27
1906                                 25
1907                                 26
1908                                 42
1909                                 23
1910                                 22
1911                                 21
1912                                 23
1913                                 25
1914    <type 'exceptions.MemoryError'>
1915                                 31
1916                                 18
1917                                 23
1918                                 17
1919                                 18
1920                                 23
1921                                 19
1922                                 21
1923                                 16
1924                                 20
1925                                 19
1926                                 26
1927                                 21
1928                                 39
1929                                 40
1930                                 39
1931                                 37
1932                                 38
Name: BioMomAgeAtBirth, dtype: object

In [37]:
df[df['BioMomAgeAtBirth'].isnull().values==True]

Empty DataFrame
Columns: [RECNUM, SEX, AGYSPNDS, AgeAtAdopt, ChildRace, BioMomAgeAtBirth, MOMARRD, AdoptMomAge, AdoptDadAge, ADPFAMST, MomRace, DadRace, Transracial]
Index: []